packaging/src/main/resources/corda-cpk-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:corda-cpk" version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cpk="urn:corda-cpk">
    <xs:element name="cpkDependencies" type="cpk:cpkDependenciesType"/>
    <xs:element name="dependencyConstraints" type="cpk:dependencyConstraintsType"/>

    <xs:complexType name="hashType">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="algorithm" type="xs:token" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="cpkDependenciesType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="cpkDependency" type="cpk:cpkDependencyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cpkDependencyType">
        <xs:all>
            <xs:element name="name" type="xs:token"/>
            <xs:element name="version" type="xs:token"/>
            <xs:element name="type" type="xs:token" minOccurs="0"/>
            <xs:element name="signers" type="cpk:signersType"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="signersType">
        <xs:choice minOccurs="0">
            <xs:sequence maxOccurs="unbounded">
                <xs:element name="signer" type="cpk:hashType"/>
            </xs:sequence>
            <xs:element name="sameAsMe" type="cpk:sameAsMeType"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="sameAsMeType"/>

    <xs:complexType name="dependencyConstraintsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="dependencyConstraint" type="cpk:dependencyConstraintType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dependencyConstraintType">
        <xs:all>
            <xs:element name="fileName" type="xs:token"/>
            <xs:element name="hash" type="cpk:hashType"/>
        </xs:all>
    </xs:complexType>
</xs:schema>
